<div>
  <h1 class="d-flex justify-content-center mt-4 mx-4">User Profile</h1>
  <div class="d-flex justify-content-space-between justify-content-center m-4">
    <div *ngIf="user" class="w-25 p-3">
      <img class="rounded img-fluid img-thumbnail" [src]="user.avatar" [alt]="'rupam'" />
    </div>
    <div class="m-4">
      <div class="mb-3"><strong>Name :</strong> {{ user.name }}</div>
      <div class="mb-3"><strong>Email :</strong> {{ user.email }}</div>
      <div>
        <button class="btn btn-danger" (click)="deleteProfile()">Delete</button>
      </div>
    </div>
  </div>
</div>
