<h2 class="text-center my-1">Order Summary</h2>
<div class="paymentContainer">
  <div class="content">
    <div class="summary">
      <div>
        <h3>Name:</h3>
        <span>{{ name }}</span>
      </div>
      <div>
        <h3>Address:</h3>
        <span>{{ address }} </span>
      </div>
    </div>
    <table>
      <tr>
        <td colspan="5">
          <h3>Order Items</h3>
        </td>
      </tr>
      <tr *ngFor="let item of orders">
        <td>
          <a
            routerLink="/product/{{
              item.products[0].productId._id
            }}"
          >
            <img
              [src]="item.products[0].productId.productImage"
              alt=""
            />
          </a>
        </td>
        <td>
          {{ item.products[0].productId.title }}
        </td>
        <td>
          {{
            item.products[0].productId.price
              | currency : "INR" : "symbol-narrow"
          }}
        </td>
        <td>
          {{ item.orderDetails.products[0].quantity }}
        </td>
        <td>
          {{
            item.orderDetails.products[0].productId.price *
              item.orderDetails.products[0].quantity
              | currency : "INR" : "symbol-narrow"
          }}
        </td>
      </tr>
      <tr>
        <td>
          <strong> Total: </strong>
        </td>
        <td>
          <strong>
            {{ totalPrice | currency : "INR" : "symbol-narrow" }}
          </strong>
        </td>
      </tr>
    </table>
  
</div>
<div class="buttons-container">
  <div class="buttons">
      <app-stripe [order]="orders"></app-stripe>
  </div>
</div>