<app-not-found
  [visible]="!wishItems || !wishItems.productId.length"
  notFoundMessage="WishList is Empty"
  resetLinkText="Add to WishList"
></app-not-found>

<div class="container" *ngIf="wishItems && wishItems.productId.length > 0">
  <app-title title="WishList" fontSize="1.6rem"></app-title>
  <ul>
    <li *ngFor="let items of wishItems.productId">
      <div>
        <img src="{{ items.productImage }}" alt="{{ items.title }}" />
      </div>
      <a routerLink="/product/{{ items._id }}">
        {{ items.title }}
      </a>
      <div class="item-description">{{ items.description }}</div>

      <div class="d-flex flex-row justify-content-between align-items-center">
        <span>
          <i class="bi bi-currency-rupee"></i>
          <span>{{ items.price }}</span>
        </span>
        <i
          class="bi bi-trash text-danger m-2"
          title="Delete"
          (click)="wishUpdate(items._id)"
        ></i>
      </div>
      <button
        class="btn btn-info"
        (click)="moveToCart(wishItems.productId._id)"
      >
        Move to cart
      </button>
    </li>
  </ul>
</div>
