<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand">R-Shop</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <a routerLink="" class="nav-item nav-link active">Home</a>
      <div *ngIf="user" class="navbar-nav">
        <a routerLink="/products" class="nav-item nav-link">Shop</a>
      </div>
      <div *ngIf="admin" class="navbar-nav">
        <a routerLink="/admin/home" class="nav-item nav-link active"
          >Products</a
        >
      </div>
    </div>
    <div [ngSwitch]="menuType">
      <div *ngSwitchCase="'default'" class="navbar-nav ms-auto">
        <a routerLink="/login" class="nav-item nav-link">Login</a>
        <a routerLink="/register" class="nav-item nav-link">Sign-Up</a>
        <a routerLink="/user/cart/create" class="nav-item nav-link">Cart</a>
      </div>
      <div *ngSwitchCase="'admin'" class="navbar-nav ms-auto">
        <a routerLink="/admin/products/new" class="nav-item nav-link"
          >Add Product</a
        >
        <a routerLink="/user/me" class="nav-item nav-link">{{
          admin | titlecase
        }}</a>
        <a routerLink="/admin/orders" class="nav-item nav-link">Orders</a>
        <a
          routerLink="/user/logout"
          (click)="adminLogout()"
          class="nav-item nav-link"
          >Logout</a
        >
      </div>
      <div *ngSwitchCase="'user'" class="navbar-nav ms-auto">
        <a routerLink="/user/me" class="nav-item nav-link">{{
          user | titlecase
        }}</a>
        <!-- <a
          (click)="getCartData()"
          class="nav-item nav-link"
          [routerLink]="count > 0 ? '/user/cart/create' : null"
          >Cart({{ count }})</a
        > -->
        <a
        (click)="getCartData()"
        class="nav-item nav-link"
        routerLink="/user/cart/create"
        >Cart({{ count }})</a
      >
        <a routerLink="/orders" class="nav-item nav-link">My Orders</a>

        <button (click)="userLogout()" class="nav-item nav-link">Logout</button>
      </div>
    </div>
  </div>
</nav>
