<div class="container">
  <div class="content" *ngIf="order">
    <h1>OrderID #{{ order._id }}</h1>
    <div class="details">
      <div><strong>Date</strong> {{ order.createdAt | date : "medium" }}</div>
      <div><strong>Name</strong> {{ order.shippingDetails.name }}</div>
      <div>
        <strong>Address</strong> {{ order.shippingDetails.address.state }}
      </div>
      <div><strong>Status</strong> {{ order.status }}</div>
      <div *ngIf="order.paymentId">
        <strong>Payment ID</strong> {{ order.paymentId }}
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.orderDetails.products; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <a routerLink="/product/{{ item.productId._id }}">
              <img [src]="item.productId.productImage" />
            </a>
          </td>
          <td>
            {{ item.productId.title }}
          </td>
          <td>
            {{ item.quantity }}
          </td>
          <td>
            {{ item.productId.price }}
          </td>
        </tr>
        <tr>
          <td>
            <strong> Total :</strong>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <strong>
              <i class="bi bi-currency-rupee"></i>
              {{ order.orderDetails.totalPrice }}
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
