<!-- Background image -->
<div
  class="p-5 text-center bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 600px;
  "
>
  <div class="mask p-4" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">R-Shop</h1>
        <h4 class="mb-3">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem,
          laboriosam. Adipisci corrupti sequi vel. Impedit voluptates, itaque
          molestiae deserunt, amet dicta rem aspernatur vero nam dolores ratione
          molestias tempore voluptatem quis odio obcaecati?
        </h4>
        <a
          class="btn btn-outline-light btn-lg"
          routerLink="/products"
          role="button"
          >Shop-Now</a
        >
      </div>
    </div>
  </div>
</div>
