<app-not-found
  [visible]="!cartItems || !cartItems.length"
  notFoundMessage="Cart Page Is Empty!"
  resetLinkText="Go To Homepage"
></app-not-found>

<div *ngIf="cartItems.length" class="container">
  <ul>
    <li *ngFor="let cartItem of cartItems">
      <div>
        <img
          [src]="cartItem.productId.productImage"
          [alt]="cartItem.productId.title"
        />
      </div>
      <div>
        <div class="d-flex m-2">
          <button
            class="btn btn-danger"
            (click)="cartUpdate(cartItem.productId._id, cartItem.quantity - 1)"
          >
            -
          </button>
          <input type="text" class="w-5" value="{{ cartItem.quantity }}" disabled />
          <button
            class="btn btn-info"
            (click)="cartUpdate(cartItem.productId._id, cartItem.quantity + 1)"
          >
            +
          </button>
        </div>
      </div>
      <div>
        {{ cartItem.price | currency }}
      </div>

      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div>
      <div class="products-count">{{ priceSummary.totalItems }}</div>
      <div class="total-price">{{ priceSummary.totalPrice | currency }}</div>
    </div>

    <a routerLink="/user/order/checkout">Proceed to Checkout</a>
  </div>
</div>
