<app-title title="Product Details" fontSize="1.6rem"></app-title>
<div
  class="d-flex flex-column flex-md-row justify-content-evenly align-items-center w-100"
>
  <div *ngIf="product">
    <img
      [src]="product.productImage"
      [alt]="product.title"
      style="width: 100%; height: 20rem; object-fit: contain"
    />
  </div>
  <div style="max-width: 20rem">
    <h6 class="fs-3">{{ product.title }}</h6>
    <div class="mb-3">
      <strong>Description :</strong> {{ product.description }}
    </div>

    <div class="mb-3"><strong>Price :</strong>{{ product.price }}</div>
    <div *ngIf="outOfStock" class="text-danger mb-2">{{ outOfStock }}</div>
    <div>
      <button
        class="btn btn-info"
        [disabled]="loading || outOfStock"
        (click)="addToCart()"
      >
        Add to Cart
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm"
          aria-hidden="true"
        ></span>
        <i *ngIf="!loading" class="bi bi-cart"></i>
      </button>
      <button
        class="btn btn-warning mx-2"
        [disabled]="loading "
        (click)="addToWishList()"
      >
        WishList
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm"
          aria-hidden="true"
        ></span>
        <i *ngIf="!loading" class="bi bi-heart"></i>
      </button>
    </div>
  </div>
</div>
