<app-title title="About-Us" fontSize="1.6rem"></app-title>
<div class="d-flex mt-4">
  <div class="container-fluid bg-1 text-center">
    <h3 class="fs-3 fw-medium">Who Am I?</h3>
    <img
      src="../../../../assets/programmingyatra.jpg"
      class="img-circle"
      alt="Bird"
      width="350"
      height="350"
    />
    <h3 class="fs-3 mt-3 fw-medium">I'm Rupam Gupta</h3>
  </div>

  <div class="container-fluid bg-2 text-center">
    <h3 class="fs-3 fw-medium">What Am I?</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente minima pariatur sed nostrum dolorem iusto nisi neque corrupti voluptates at dicta non, atque expedita odio sit ab recusandae in voluptatum possimus inventore repudiandae.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eLorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente minima pariatur sed nostrum dolorem iusto nisi neque corrupti voluptates at dicta non, atque expedita odio sit ab recusandae in voluptatum possimus inventore repudiandae.
    </p>
    <a href="https://www.programmingyatra.in/" class="btn btn-info btn-lg">Search</a>
  </div>
</div>
