<div class="w-100" style="height: 33.2rem">
<h1 class="d-flex justify-content-center mt-4 mx-4">Reset Your Password</h1>
<div class="d-flex align-items-center justify-content-center">
  <div class="bg-dark mt-4 rounded">
    <form
      class="m-2 p-2"
      #resetUserPassword="ngForm"
      (ngSubmit)="resetPasswordUser(resetUserPassword.value)"
    >
      <div class="form-group">
        <label for="password"></label>
        <input
          name="password"
          type="password"
          class="form-control"
          #password="ngModel"
          required
          placeholder="Enter password"
          ngModel
        />
        <p *ngIf="password.invalid && password.touched" class="text-danger">
          Enter valid password
        </p>
      </div>
      <div class="form-group">
        <label for="confirmpassword"></label>
        <input
          name="confirmPassword"
          type="password"
          class="form-control"
          #confirmPassword="ngModel"
          required
          placeholder="Confirm Password"
          ngModel
        />
        <p
          *ngIf="confirmPassword.invalid && confirmPassword.touched"
          class="text-danger"
        >
          Confirm Password must be Required
        </p>
      </div>
      <button type="submit" class="btn btn-info w-100 mt-3">
        Reset
      </button>
    </form>
  </div>
</div>
</div>