<div class="bg-white p-4">
  <h1 class="d-flex justify-content-center">List of Products</h1>

  <div class="container">
    <div class="row">
      <div class="col" *ngFor="let product of Products">
        <a class="text-decoration-none" routerLink="/product/{{ product._id }}">
          <div class="card m-4" style="width: 16rem">
            <img
              class="card-img-top p-4"
              src="{{ product.productImage }}"
              alt="productImage"
            />
            <div class="card-body">
              <h5 class="card-title">
                <strong>Product Name :- </strong> {{ product.title }}
              </h5>
              <p class="card-text">
                <strong>Price :- </strong> {{ product.price }}
              </p>
              <a routerLink="/products" class="btn btn-info mx-2">
                View Details</a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
