<div class="bg-white">
  <app-title title="List of Products" fontSize="1.6rem"></app-title>

  <div class="py-4">
    <div class="container-fluid">
      <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-2 gy-2">
        <div class="col p-2" *ngFor="let product of Products">
          <a
            class="text-decoration-none card"
            routerLink="/product/{{ product._id }}"
          >
            <img
              class="card-img-top"
              style="height: 6rem"
              src="{{ product.productImage }}"
              alt="productImage"
            />
            <div class="card-body">
              <h5 class="card-title" style="font-size: 12px; font-weight: 900">
                {{ product.title }}
              </h5>
              <p
                class="card-text text-body-secondary overflow-y-hidden"
                style="height: 2.5rem; font-size: 14px"
              >
                {{ product.description }}
              </p>
              <p
                class="card-text text-body-secondary overflow-y-hidden"
                style="height: 2.5rem; font-size: 14px"
              >
                <i class="bi bi-currency-rupee text-black"></i>
                {{ product.price }}
              </p>
              <!-- <p *ngIf="product.stock == 0" class="text-danger">
              Currently item is not available
              </p> -->
              <a routerLink="/products" class="btn btn-info"> View Details</a>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
