.col .card {
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
  -webkit-box-shadow: 2px 4px 47px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 47px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 47px -23px rgba(0, 0, 0, 0.75);
}
.col .card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  z-index: 5;
}
