<div class="w-100" style="height: 33.15rem">
  <app-title title="Forgot Your Password" fontSize="1.6rem"></app-title>
  <div class="d-flex align-items-center justify-content-center">
    <div class="bg-dark mt-4 rounded">
      <form
        class="m-2 p-2"
        #forgetUserPassword="ngForm"
        (ngSubmit)="forgetPasswordUser(forgetUserPassword.value)"
      >
        <div class="form-group">
          <label for="email"></label>
          <input
            name="email"
            type="email"
            class="form-control"
            #email="ngModel"
            required
            placeholder="Enter email"
            ngModel
          />
          <p *ngIf="email.invalid && email.touched" class="text-danger">
            Enter valid Email
          </p>
        </div>
        <button type="submit" class="btn btn-info w-100 mt-3">
          Forget Password
        </button>
      </form>
    </div>
  </div>
</div>
